@media screen and (min-width: 1024px) and (min-height: 780px){
	/*body{
		margin: auto;
	}*/
	.App {
  		width: 1400px;
	}
	header,.verticalLayer{
		background-color: black;
	}
	header{
		display: flex;
		justify-content: space-between;
		padding: 10px 100px 0px 25px;
		height: 91px;
		font-size: 25px;
	}
	.Logo_SoprtSee{
		display: flex;
		color: #E60000;
	}
	.logo{
		width:57px;
		height:57px;
		margin-top: 15px;
	}
	header a,.verticalLayer a{
		color: white;
		text-decoration: none;
	}
	header a{
		margin-top:25px;
	}
	.mainDiv{
		width: 100%;
		display: flex;
	}
	.verticalLayer{
		color: white;
		width: 117px;
		min-height: 720px;
		max-height: 1024px;
		margin-top: 0px;
		padding-top: 200px;
		padding-bottom: 10px;
	}
	.href{
		display: flex;
		flex-direction: column;
	}
	.href .logo2{
		border-radius: 6px;
		margin-top: 6px;
		margin-bottom: 6px;
	}
	.Copiryght{
		transform: rotate(-90deg);
		margin-top: 300px; 
		white-space: nowrap;
	}
	.Personna{
		width: 100%;
		margin-left: 50px;
	}
	.Title{
		display: flex;
	}
	.PersonnaName{
		color: #E60000;
		margin-left: 10px;
	}
	.PersonaFelicitation{
		text-align: left;
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.PersonnaDiv{
		width: 100%;
		display: flex;/**/
		justify-content: space-between;
	}
	.PersonnaDiv1{
		width: 75%;
	}
	.PersonnaDailyActivity{
		width: 100%;
		height: 320px;
		margin-bottom: 25px;
		text-align:left;
		position: relative;
	}
	
	.PersonnaDailyActivitySpan{
		margin-left: 25px;
	}
	.PersonnaScore{
		display: flex;
		justify-content: space-between;
	}
	.TimeSessions{
		background-color: #E60000;/**/
		color: white;
		border-radius: 6px;
		width: 32%;
		height: 278px;
	}
	.Graphics{
		background-color: #282D30;
		color: white;
		border-radius: 6px;
		width: 32%;
		height: 263px;
	}
	.ObjectifScore,.Graphics{
		padding-top: 15px;
		padding-left: 0px;
	}
	.ScoreSpan, .ScoreSpan2{
		margin-left: 25px;
	}
	.TimeSessions{
		text-align: left;
		color: #d0d0d0;
	}
	.ObjectifScore{
		text-align: left;
		width: 32%;
		height: 263px;
	}
	.PersonnaDailyActivity,.ObjectifScore,.PersonnaFood{
		background-color: #fbfbfb;
		border-radius: 6px;
	}
	.PersonnaFood{
		height: 124px;
		width: 258px;
		margin-bottom: 42px;
		padding-left: 25px;
		display: flex;
	}
	.PersonnaFood .h1PersonnaFood{
		font-size: 25px;
	}
	.logoPersonnaFood{
		width: 64px;
		height: 64px;
		margin-top: 25px;
		margin-right: 25px;
	}
	.text-color-class,.text-color-class1{
		color:black;
	}
	.FillScore{
		z-index: 1;
	}
	.text-color-class1{
		font-size: 24px;
		display: block;
		text-align: center;
		width: 95px;
		height: 56px;
		background-color: white;
		border-radius: 50%;
		padding: 70px 45px 60px 45px;
		margin-bottom: 20px;
		margin-left: 10px;
		z-index: -50;
	}
	.p-text-color-class1{
		margin-top: 0px;
		color:#74798C;
		font-size: 16px;
	}
} 
.linechart {
    width: 100%;
    height: 278px;
    border-radius: 5px;
    background-color: red;
}

.toolTipContainer {
    background-color: white;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolTipText {
    color: black;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
}
.sessionsTitle {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px; 
    margin-top: 25px;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.5);
}
